name: Atualizador de Placar

on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Isso dá permissão de escrita direto no código
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Instalar Ferramentas de Busca
        run: pip install requests beautifulsoup4

      - name: Rodar Script
        run: python atualizar_placar.py

      - name: Salvar no arquivo
        run: |
          git config --global user.name 'Bot do Timao'
          git config --global user.email 'bot@github.com'
          git add apifutebol.txt
          git commit -m "Noticia atualizada" || echo "Sem mudanças"
          git push
