name: Atualizador de Placar

on:
  schedule:
    - cron: '0 */3 * * *' 
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Tools
        run: pip install requests beautifulsoup4 pytz

      - name: Run Script
        run: python atualizar_placar.py

      - name: Save to GitHub
        run: |
          git config --global user.name 'Bot do Timao'
          git config --global user.email 'bot@github.com'
          git add apifutebol.txt
          git commit -m "Atualizacao forçada" || echo "Sem mudanças"
          git push
