name: Atualizador de Placar

on:
  schedule:
    - cron: '0 */3 * * *' # Comando para rodar a cada 3 horas
  workflow_dispatch: # Mantém o botão de "Play" manual

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Permissão para o robô salvar no seu repositório
    steps:
      - name: Baixando codigo
        uses: actions/checkout@v4

      - name: Configurando Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Instalando Ferramentas
        run: pip install requests beautifulsoup4 pytz

      - name: Rodando o Script
        run: python atualizar_placar.py

      - name: Salvando Alteracoes
        run: |
          git config --global user.name 'Bot do Timao'
          git config --global user.email 'bot@github.com'
          git add apifutebol.txt
          git commit -m "Noticia atualizada automaticamente" || echo "Sem mudanças"
          git push
