name: NFL_OLED_3H

on:
  schedule:
    - cron: '0 */3 * * *' # Roda a cada 3 horas (00:00, 03:00, 06:00...)
  workflow_dispatch: # Permite rodar manualmente clicando no botão

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Permissão essencial para salvar o arquivo txt no seu repo
    steps:
      - name: Checkout do Código
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalar Dependencias
        run: pip install requests beautifulsoup4 pytz

      - name: Rodar Script de Noticias
        run: python noticias.py

      - name: Salvar Alteracoes (Push)
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add apifutebol.txt indice.txt
          git commit -m "Update NFL: $(date)" || exit 0
          git push
