name: Atualizar NFL
on:
  schedule:
    - cron: '*/15 * * * *'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          persist-credentials: true
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install dependencies
        run: pip install requests beautifulsoup4 pytz
      - name: Run script
        run: python noticias.py
      - name: Commit changes
        run: |
          git config --local user.email "bot@github.com"
          git config --local user.name "Bot"
          git add apifutebol.txt indice.txt
          git commit -m "Update $(date)" || echo "Nada para commitar"
          git push
