name: Bot_NFL_OLED

on:
  schedule:
    - cron: '0 */3 * * *' # Roda a cada 3 horas
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalar Bibliotecas
        run: pip install requests beautifulsoup4 pytz

      - name: Rodar Script
        run: python atualizar_placar.py

      - name: Salvar e Forçar Mudança
        run: |
          git config --local user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add apifutebol.txt indice.txt
          git pull --rebase origin main
          git commit -m "Nova noticia e resumo interno" || exit 0
          git push origin main
