name: Atualizador de Placar

on:
  schedule:
    - cron: '0 * * * *' # Roda automaticamente a cada 1 hora
  workflow_dispatch: # Permite que você clique no botão "Run workflow"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Dá permissão para o robô salvar o arquivo
    steps:
      - name: Baixando o código do repositório
        uses: actions/checkout@v4

      - name: Configurando o Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Instalando as ferramentas de busca
        run: pip install requests beautifulsoup4

      - name: Rodando o script de atualização
        run: python atualizar_placar.py

      - name: Salvando a nova informação no GitHub
        run: |
          git config --global user.name 'Bot do Timao'
          git config --global user.email 'bot@github.com'
          git add apifutebol.txt
          git commit -m "Notícia atualizada automaticamente" || echo "Sem mudanças"
          git push
