name: Atualizar Noticia NFL

on:
  schedule:
    - cron: '*/15 * * * *' # Roda a cada 15 minutos
  workflow_dispatch: # Permite rodar manualmente pelo botão no GitHub

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Essencial para o bot conseguir salvar o arquivo txt

    steps:
    - name: Checkout do código
      uses: actions/checkout@v3

    - name: Instalar Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Instalar Bibliotecas
      run: |
        pip install requests beautifulsoup4 pytz

    - name: Executar Script
      run: python noticias.py

    - name: Commit e Push das mudanças
      run: |
        git config --global user.name "GitHub Action Bot"
        git config --global user.email "actions@github.com"
        git add apifutebol.txt indice.txt
        git commit -m "Notícia atualizada: $(date)" || exit 0
        git push
